/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

form {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Optional: Additional styling for error messages */
.error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}






/* login */
form {
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 10px;
    font-size: 18px;
    text-align: center;
}

td {
    padding: 10px;
}

label {
    font-weight: bold;
    color: #2c3e50;
}


.button {
    width: 50%;
    padding: 10px;
    background-color: #2c3e50;
    color: #ecf0f1;
    font-weight: bold;
    cursor: pointer;
}
.button:hover {
    background-color: #34495e;
    transform: scale(1.05);
}


/* dahboard dll */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.heading {
    font-size: large;
    font-weight: bold;
}

.sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: #ecf0f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
}

.sidebar ul li {
    width: 100%;
    text-align: left;
}

.sidebar ul li a {
    display: block;
    color: #ecf0f1;
    padding: 15px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #34495e;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f1f1f1;
}


.pheader {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        margin-top: 20px;
}